@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif ;
    overflow-x: hidden;    
}

.sticky {
   
    position: fixed;
    top: 0;
    width: 100%;
    /* transition: ease-in 0.25s; */
    
  }
li{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    position: sticky;
    z-index: 500;
}

.nav.color{
    background-color: white;
}
.logo{
    margin-left: 10rem;
    margin-right: 10rem;
}
.logo img{
    width: 123;
    height: 68;
}

.nav ul{
    display: flex;
}
.nav li{
    padding: 1rem;
}
.nav a{
    color: black;
}
.download-button{
    display: flex;
    max-height: max-content;
    margin-right: 10rem;
    font-weight:600;
    background-color: black;
    height: 40px;
    width: 158px;
    border-radius: 30px 30px 0px 30px ;
    align-items: center;
}

.download-button a{
    color: white;
    padding-left: 1rem;
}
.btns{
    color: white;
    padding-left: 1rem;
}

/* NAV BAR CSS ENDS */

.first{
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
    font-size: 50px;
    max-height: 100vh;
    margin-left: 10rem;
    margin-right: 10rem;
}
.home{

display: flex;
flex-direction: row;
margin-top: 1rem;
align-items: center;

}
.right{
    display: flex;
    position: relative;
    min-width: 50%;
}
.right img{
    height: max-content;
    width:65rem;
    padding-top: 5rem;
    transform: translateX(15rem);
}
.right .pattern{
    
    background-color: #F9C935;
    content: '';
    width: 1744px;
    height: 683px;
    z-index: -1;
    position: relative;
    border-radius: 507.5px;
    max-width: 50rem;
    top: 0%;
    right: 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.left{
    display: flex;
    align-items: center;

    font-size: 30px;
    margin-left: 2rem;
    min-width: 50%; 
    flex-direction: column;
    
}

.home-text h1{
    font-size: 50px;
    font-weight: 300;
    
    line-height: 3rem;
}
.home-desc{
    z-index: -20;
}
.home-desc h3{
    font-size: 20px;
    font-weight: 100;
    /* padding-right: 2rem; */
    /* padding-left: 1.7rem ; */
    margin-top: 15px;
    transform: translateX(-20px);

}

.home-buttons{
    
    display: flex;
    justify-content: space-around;

    
}

.btns{
        display: flex;
        font-size: 17px;
        font-weight:600;
        background-color: black;
        height: 50px;
        width: 210px;
        margin-top: 2rem;
        border-radius: 30px 30px 0px 30px ;
        align-items: center;
        justify-content: space-around;
}

.yellow{
    background-color: #F9C935;
    color: black;
    border-radius: 30px 30px 30px 0px ;
    margin-right: 2rem;
    
}

.second{
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin-top: 5rem;
    z-index: -5;
}

.left-2{
    display: flex;
    margin-left: 2rem;
    width: 50%; 
    z-index: -5;    
    margin-left: 17rem;
}

.right-2{
    display: flex;
    margin-left: 2rem;
    width: 50%; 
    flex-direction: column;    
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
    align-items:flex-start;
    z-index: -5;
}

.right-2 h1{
    font-weight: 700;
    font-size: 30px;
    padding-right: 11rem;
}

.right-2 h3{
    font-weight: 300;
    margin-top: 2rem;

}

.line{
    width: 60px;
    height: 47px;
    border-bottom: 5px solid #fbcb23;
    position: absolute;
    }

.part-l{
    
    display: flex;
    flex-direction: column;
}

.dots{
    
    
}
.img1{

    
    border-radius: 7rem 7rem 0rem 7rem;
}
.img2{
    
    border-radius: 0rem 7rem 7rem 7rem;
    

}

.b2{
    padding-right: 2rem;
    padding-left: 2rem;
}

.part-r{
    margin-top: 25rem;
    padding-left: 1rem;
}

/* SECOND SECTION END */
/* THIRD SECTION STARTS */
.three{
    height: 100vh;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.l3{
    width: 60px;
    height: 47px;
    border-bottom: 4px solid #fbcb23;
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    z-index: -5;
}
.heading-3 h3{
    font-weight: 300;
    text-align: center;
    margin-top: 2rem;
}

.circles-3{
    display: flex;
}

.c1,.c2,.c3,.c4{
    height: 11rem;
    width: 11rem;
    margin: 2rem;
    margin-top: 3rem;
    border-radius: 6rem;
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgalign{
    width:4rem;
    height: 4rem;
}

.lilhead-3{
    font-weight: 700;

}
.lildesc-3{
    font-weight: 400;
}

/* THIRD SECTION ENDS */
.four{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose{
    display :flex;
    flex-direction: row;
    margin-top: 5rem;
}

.block.b1 {
    padding:0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #F9C935;
    border-radius: 2rem 0px 0px 0px;
    cursor: pointer;
}
.block{
    display: flex;
    align-items: center;
}

.block h3{
    font-weight: 600;
    
}
.block.b2{
    padding:0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 0px 0px 2rem 0px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

}
.customers{
    max-width: 100vw;
    margin-top: 4rem;
    
}

.vanish{
    display: none;
}
.customers img{
    width: 182px;
    
}

.Captains{
    max-width: 100vw;
    margin-top: 4rem;
    
}
.Captains img{
    width: 182px;
    
}

.cards{
    display: flex;
}

.cus1,.cus2,.cus3{
    height: 30rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 3rem;
}
.cards h2{
    padding-top: 1.5rem;
    font-weight: 500; 
}

.cards h4{
    padding-top: 1rem;
    font-weight: 300;
}
/* LAST SECTIONS */
.sixth{
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin-top: 5rem;
    z-index: -5;
}

.left-6{
    display: flex;
    flex-direction: column;
    padding-left: 15rem;
    margin-top: -20rem;
    width: 50%; 
    z-index: -5;    
    
}

.right-6{
    display: flex;
    margin-left: 2rem;
    width: 50%;    
    text-align: left;
    z-index: -5;
}

.left-6 h1{
    font-weight: 700;
    font-size: 30px;
    
}

.left-6 h3{
    font-weight: 300;
    margin-top: 2rem;

}

.line6{
    width: 50px;
    height: 47px;
    margin-top: 1rem ;
    border-bottom: 4px solid #fbcb23;
    position: absolute;
    }

.part-l{
    
    display: flex;
    flex-direction: column;
}



.b2{
    padding-right: 2rem;
    padding-left: 2rem;
}

.part-r{
    margin-top: 5rem;
}
/* SIXTH ENDS */
/* FOOTER BEGINS */
.footer{
    background-color: black;
    height: 50vh;
}

.links{
    display: flex;
    margin-left: 10rem;
    padding-top: 4rem;
}

.cusapp,.capapp,.mininav,.privacy,.follow{
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    align-items: center;
}

.cusapp,.capapp,.mininav,.privacy,.follow h3{
    color: white ;
}

.creds h4{
    color: grey;
    font-size: small;
    display: flex;
    justify-content: center;
    font-weight: 300;
    padding-top: 0.5rem;
}

.divider{
    background-color: gray;
    width: 70%;
    margin-left: 11rem;
    margin-right: 11rem;
    height: 1px;
    margin-top: 3rem ;

}

h5{
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 1rem;
}

.links a{
    color: white;
}

.social{
    display: flex;
    filter: invert(1);
    transform: scale(0.65);
    align-items: center;
}

.social li{
    padding: 1rem;
}

